#  Generic Template
Net fpga_0_Generic_GPIO_GPIO_IO_pin<0> LOC=C7;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<1> LOC=E6;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<2> LOC=C5;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<3> LOC=F7;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<4> LOC=D6;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<5> LOC=E7;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<6> LOC=D5;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<7> LOC=C6;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<8> LOC=D8;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<9> LOC=E8;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<10> LOC=F9;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<11> LOC=F10;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<12> LOC=E10;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<13> LOC=D9;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<14> LOC=C3;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<15> LOC=D3;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<16> LOC=E4;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<17> LOC=E3;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<18> LOC=P4;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<19> LOC=N5;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<20> LOC=P5;
Net fpga_0_Generic_GPIO_GPIO_IO_pin<21> LOC=M6;
Net fpga_0_RS232_RX_pin LOC=C11;
Net fpga_0_RS232_TX_pin LOC=D12;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC=T8;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=L3;
